::-webkit-scrollbar { 
    display: none; 
}

body {
  margin:0;
}

.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  /*font-family: "Montserrat", sans-serif;*/
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

/*h2 {
  font-size: 15px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; 
}*/

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  /*padding: 50px 2% 250px;*/
  /*padding-bottom:250px;*/
  /*padding-bottom: 50px;*/
  padding-bottom:5%;
}

.content h1 {
  margin-top: 10%;
}

.hero {
  /*position: relative;*/
  /*test*/
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*test*/
  /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/43368/front-end.jpg) no-repeat center center fixed;*/
  background:url(../img/geo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  /*padding-top: 110px;*/
  /*min-height: 500px;*/
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

.layer {
  background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero h1 {
  font-size: 25px;
  color: #e8f380;
  line-height: 1.9;
 /* border-bottom: 2px solid #e8f380;*/
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}
/*.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}*/

.rw-words-1 span{
  font-size: 50px;
/*  line-height: 1.3;*/
  text-transform:uppercase;
	position: absolute;
  right:0;
  left:0;
  top: 32%;
/*  transform: translateY(-50%);*/
  margin:0 auto;
	opacity: 0;
  overflow: hidden;
  color: #ffffff;
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-moz-animation: rotateWord 12s linear infinite 0s;
	-o-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 12s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-moz-animation-delay: 3s; 
	-o-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
  color: #ffffff;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-moz-animation-delay: 6s; 
	-o-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
  color: #ffffff;
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s;
	-moz-animation-delay: 9s; 
	-o-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
  color: #ffffff;
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
	5% { opacity: 1; -moz-transform: translateY(0px);}
    17% { opacity: 1; -moz-transform: translateY(0px); }
	20% { opacity: 0; -moz-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateY(-30px); }
	5% { opacity: 1; -o-transform: translateY(0px);}
    17% { opacity: 1; -o-transform: translateY(0px); }
	20% { opacity: 0; -o-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
	5% { opacity: 1; transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); }
	20% { opacity: 0; transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

.sec01 {
  margin-top:10%;
}



.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #ffffff;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}


/*contact form*/
h1 {
   text-align: center;
   color: #a8a8a8;
   @include text-shadow(1px 1px 0 rgba(white, 1));
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
}
  
form input, textarea {
     /*border:0; */
     outline:0;
     padding: 1em;
     border-radius:8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow:0 1px 1px rgba(black, 0.1);
     resize: none;
     border: 1px solid #a8a8a8;
}

#input-message {
  height:200px;
}   
  
/*#input-submit {
   color: white; 
   background: #C0392B;
   cursor: pointer;
   border:none;
   font-family: 'Merriweather', sans-serif;
   font-size: 15px;

}
    
#input-submit:hover {
  transition:all;
   background:#;
}*/
  
#input-submit  textarea {
    height: 126px;
}



.half {
  float: left;
  /*width: 48%;*/
  width:100%;
  margin-bottom: 1em;

}

/*.right { width: 50%; }*/

/*.left {
     margin-right: 2%; 
}
*/

@media (max-width: 480px) {
 /* .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }*/
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*work section*/


.box-info {
   background: rgba( 35, 35, 35, 0.7 );
   /*box-sizing: border-box;*/
   height: 100%;
   width: 100%;
   text-align: center;
   /*padding: 20% 0 0;*/
   line-height: 200px;
   font-weight: 900;
   font-size: 20px;
   color: #fff;
   opacity: 0;
   font-family: "Montserrat", sans-serif;
   text-transform: uppercase;
}
.box-info:hover{
  opacity: 1;
}

.box-info span {
  border:4px solid #ffffff;
  padding:5px;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  cursor: pointer;
  display: block;
  float:left;
  margin: 1% 0 0 1%;
  height:200px;
}

.col:hover {
  
}
.col:first-child, 
.col:nth-child(4) { 
  margin-left: 0; 
}


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.33%; }
.span_1_of_3 { width: 32.66%;}
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2  {
  width: 49.5%;
}

.work-one {
   background: url(http://i41.tinypic.com/21mrqjq.jpg);
}
.work-two {
   background: url(http://i41.tinypic.com/21mrqjq.jpg);
}
.work-three {
   background: url(http://i41.tinypic.com/21mrqjq.jpg);
}
.work-four {
   background: url(http://i41.tinypic.com/21mrqjq.jpg);
}
.work-five {
   background: url(http://i41.tinypic.com/21mrqjq.jpg);
}
.work-six {
   background: url(http://i41.tinypic.com/21mrqjq.jpg);
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
  .span_2_of_2, .span_1_of_2 { width: 100%; }
}

/*blog post*/


/*footer*/
footer {
  background-image:url(../img/geo.jpg);
  background-size: 100%;
  height:150px;

}
/*footer {*//*
  text-align: center;
  width:100%;
  
  position:absolute;
  bottom:0;
  left:0;
  background:#34495E;
}

footer p {
  margin:0;
  font-family: "Montserrat", sans-serif;
}*/

/*blog*/
.blog {
  font-family: "Montserrat", sans-serif;
  color:#a8a8a8;
  text-align: center;
  font-size: 30px;
  border:4px solid #a8a8a8;
  transition: color 0.5s ease, border 0.5s ease;
  /*position: relative;*/
  top: 50%;
  /*transform: translateY(50%);*/
}

.blog:hover {
  color:#34495E;
  border: 4px solid #34495E; 
}

.blog span {
  /*display:inline-block; */
  
  line-height: 175px;
}

.tile-3 {
  margin-left: 0;
}
#tile-4 {
 margin: 1% 0 0 1%;
}

/*button*/
.button {
  border: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  /*font-size: inherit;*/
  cursor: pointer;
  padding: 20px 50px;
  display: inline-block;
  /*margin: 15px 30px;*/
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button2{
  border-radius: 5px 5px 5px 5px;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.button2:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

/*.tweet {
  font-family: "Montserrat", sans-serif;
  border:5px solid #ffffff;
  color:#ffffff;
  font-size: 35px;
  text-transform: uppercase;
  margin: 0 auto;
  padding:5px;
  margin-top:10px;
}*/

.social {
  text-align:center;
  line-height: 150px;
  letter-spacing: 5px;
}

.fa {
  color:#ffffff;
  font-size: 50px;
}

.fa-twitter-square:hover {
  color:#00aced;
}

.fa-linkedin-square:hover {
  color:#007bb6;
}

.fa-youtube-square:hover {
  color: #bb0000;
}

.fa-instagram:hover {
  color:#517fa4;
}

/*work section*/
.owl-prev,.owl-next{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #a8a8a8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.owl-controls {
margin-top: 10px;
text-align: center;
}

.work-item {
  height:0;
  padding-bottom: 60%;
}

.work-one,.work-two,.work-three,.work-four {
  width: 100%;
  height:0;
  padding: 30%;
  background:url(../img/dory-deli-mac-book.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
